[submodule "deps/cinemast/libjson-rpc-cpp"]
	path = deps/cinemast/libjson-rpc-cpp
	url = https://github.com/cinemast/libjson-rpc-cpp.git
[submodule "deps/libbtc/libbtc"]
	path = deps/libbtc/libbtc
	url = https://github.com/libbtc/libbtc.git
