[submodule "deps/libjson-rpc-cpp"]
	path = deps/libjson-rpc-cpp
	url = https://github.com/cinemast/libjson-rpc-cpp.git
[submodule "deps/libbtc"]
	path = deps/libbtc
	url = https://github.com/xloem/libbtc.git
[submodule "deps/sqlitecpp"]
	path = deps/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp.git
